.content {
    margin: 0 10px;
    margin-top: 20px;
    border-bottom: 1px solid var(--color-gray-90);
}

.row {
    display: flex;
    align-items: center;
}

.heading {
    margin: 0px 10px;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-gray-25);
    cursor: pointer;
    width: 100%;
}

.bookmark {
    height: 28px;
    margin-left: auto;
    cursor: pointer;
}

.description {
    margin: 0 10px;
    padding: 10px 0;
    color: var(--color-gray-25);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;
    font-family: "Roboto Slab";
}

.info {
    margin: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-left: auto;
}

.img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 100%;
    overflow: hidden;
}

.writerWr {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.writer {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray-0);
}

.writerWr:hover .writer {
    text-decoration: underline;
}

.row:last-child {
    flex-wrap: wrap;
}