.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    outline: none;
    border: 1px solid var(--color-gray-95);
    padding-left: 10px;
    font-size: 15px;
    color: var(--color-gray-25);
    flex-grow: 1;
    height: 35px;
}

.search::placeholder {
    color: var(--color-gray-25);
    opacity: 1;
}

.searchIcon {
    position: absolute;
    z-index: 100;
    height: 22px;
    right: 10px;
    cursor: pointer;
}

.accountImg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
}

.searchWr {
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px;
}

.menu {
    box-shadow: 0 0 2px var(--color-gray-25);
    border-radius: 10px;
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 100;
    flex-direction: column;
    align-items: center;
}

.authButton {
    color: var(--color-gray-10);
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--color-gray-90);
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
}

.authButton:hover {
    background-color: var(--color-gray-95);
}

.editButton {
    color: var(--color-gray-10);
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--color-gray-90);
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}

.editButton:hover {
    background-color: var(--color-gray-95);
}

.menuImg {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px 70px;
}

.nameInfo {
    color: var(--color-gray-10);
    font-size: 15px;
    font-weight: 500;
}

.emailInfo {
    color: var(--color-gray-10);
    margin: 10px 20px;
    font-size: 15px;
}

.info {
    color: var(--color-gray-10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    border-bottom: 1px solid var(--color-gray-90);
    width: 100%;
}

.menuLinks {
    display: flex;
    color: var(--color-gray-10);
    margin: 10px;
    font-size: 13px;
}

.menuLinks a {
    color: var(--color-gray-10);
    font-size: 13px;
    text-decoration: underline;
}

.notBox {
    box-shadow: 0 0 2px var(--color-gray-25);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: 55px;
    z-index: 100;
    flex-direction: column;
    height: 350px;
    width: 300px;
}

.notHeading {
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
}

.notification {
    color: var(--color-gray-10);
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.notification a {
    color: var(--color-gray-10);
    text-decoration: underline;
    overflow-wrap: break-word;
}

.notification a:hover {
    text-decoration: none;
}

.notification div {
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
    overflow-wrap: break-word;
}

.notRow {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-gray-90);
    padding: 10px;
    cursor: pointer;
}

.notRow:hover {
    background-color: var(--color-gray-95);
}

.notRow img {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-gray-90);
    border-radius: 100%;
    padding: 5px;
    margin-left: 10px;
}

.upToDate {
    text-align: center;
    margin-top: 125px;
    font-size: 15px;
}

.notificationButton {
    width: 23px;
    border-radius: 100%;
    transition: all 200ms;
    padding: 6px;
    cursor: pointer;
}

.bellWr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    border-radius: 100%;
}

.bellWr:hover {
    background-color: var(--color-gray-95);
}

.newNotIndicator {
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 100%;
    top: 7px;
    right: 9px;
    background-color: var(--color-secondary);
}