.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.loadingWr {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.end {
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 13px;
    color: var(--color-gray-25);
}