.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.content p:first-child {
    color: var(--color-gray-25);
    font-size:  45px;
    margin: 10px;
}

.content p {
    color: var(--color-gray-25);
    font-size: 18px;
}