.infoRow {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid var(--color-gray-95);
    margin: 0px 10px;
}

.infoGroup {
    display: flex;
    margin: 10px;
    color: var(--color-gray-25);
    align-items: center;
    flex-wrap: wrap;
}

.infoSpec {
    font-size: 15px;
}

.button {
    height: 25px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
}

.editButton {
    border: 1px solid var(--color-gray-25);
    color: var(--color-gray-25);
    margin-left: 10px;
}

.submitButton {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    margin-left: auto;
}

.deleteButton {
    color: var(--color-gray-100);
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    margin-left: 10px;
}

.input {
    resize: none;
    border: 1px solid var(--color-gray-90);
    outline: none;
    font-size: 15px;
    flex-grow: 1;
    padding-left: 5px;
    background-color: var(--color-gray-100);
    color: var(--color-gray-25);
    margin: 0px 10px 10px 10px;
}

.upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.contentWr {
    overflow: auto;
}

.writeArticle {
    cursor: pointer;
    background-color: var(--color-primary);
    width: 35px;
    height: 35px;
    color: var(--color-gray-100);
    border-radius: 45px;
    display: flex;
    align-items: center;
    transition: all 300ms;
    overflow: hidden;
    margin-left: auto;
    box-shadow: 0 0 5px var(--color-gray-10);
    box-shadow: 0 0 5px var(--color-gray-10);
}

.writeArticle :first-child {
    margin-left: 2.5px;
    width: 30px;
}

.writeArticle :last-child {
    margin-left: 5px;
    white-space: nowrap;
    font-size: 15px;
}

.writeArticle:hover {
    width: 140px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    margin-bottom: 10px;
}

.heading {
    color: var(--color-gray-25);
    font-size: 20px;
    font-weight: 500;
}