.header {
    display: flex;
    margin: 30px 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.headerImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 100%;
}

.headerName {
    font-size: 22px;
    font-weight: 900;
    color: var(--color-gray-10);
}

.headerFollower {
    font-weight: 300;
    font-size: 16px;
}

.headerInfoWr {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    justify-content: space-between;
    margin-right: 20px;
}

.follow {
    flex-grow: 1;
    background-color: var(--color);
    padding: 7px 15px;
    cursor: pointer;
    color: var(--color-gray-100);
    text-align: center;
    font-size: 14px;
    border-radius: 100px;
    align-self: center;
    margin: 10px 0;
    border: 1px solid var(--color);
}

.unfollow {
    background-color: unset;
    color: var(--color);
}

.follow:hover {
    background-color: var(--color-dark);
}

.unfollow:hover {
    background-color: unset;
}