.content {
    margin: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-gray-90);
}

.content:hover {
    border-color: var(--color-primary);
}

.row {
    display: flex;
    align-items: center;
}

.heading {
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-gray-25);
}

.bookmark {
    height: 25px;
    margin: 10px;
    margin-left: auto;
}

.description {
    margin: 10px;
    color: var(--color-gray-25);
    font-size: 15px;
    font-weight: 300;
}

.info {
    margin: 10px;
    color: var(--color-secondary);
    font-size: 13px;
}

.writer {
    font-size: 13px;
}

.img {
    width: 30px;
    height: 30px;
    background-color: var(--color-gray-100);
    margin-left: 10px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}

.writerWr {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: auto;
    border: 1px solid var(--color-gray-90);
    padding-left: 10px;
    border-radius: 20px;
}

.writerWr:hover {
    background-color: var(--color-gray-95);
}

.row:last-child {
    flex-wrap: wrap;
}