.contentWr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 1px solid var(--color-gray-95);
    border-radius: 15px;
    overflow: hidden;
    max-width: 95%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountImg {
    overflow: hidden;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    margin: 20px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}

.accountImg::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "Upload image";
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-90);
    top: 0;
    color: var(--color-gray-10);
    display: none;
}

.accountImg:hover::after {
    display: flex;
}

.text {
    font-size:  15px;
    color: var(--color-gray-10);
}

.input {
    width: 100%;
    padding: 5px;
    font-size:  15px;
    outline: none;
    border: none;
    background-color: var(--color-gray-100);
    color: var(--color-gray-10);
}

.inputWr {
    width: 90%;
    position: relative;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--color-gray-95);
}

.button {
    background-color: var(--color-primary);
    color: var(--color-gray-100);
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-weight: bold;
}

.logout {
    background-color: var(--color-secondary);
}

.button img {
    width: 20px;
}

.upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload + label {
    color: white;
    background-color: black;
    display: inline-block;
}