.call-to-home {
    color: var(--color);
    border: 1px solid var(--color);
    margin: 20px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.call-to-home:hover {
    background-color: var(--color-gray-95);
}

.centered-content-wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}