.font-a-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-gray-25);
}

.font-a-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-gray-25);
}

.font-a-text {
    font-weight: 300;
    font-family: "Roboto Slab";
    font-size: 18px;
    color: var(--color-gray-25);
    margin: 10px 0;
}