.card-wrapper {
    border-bottom: 1px solid var(--color-gray-90);
    margin: 10px;
    display: flex;
    position: sticky;
    top: 0px;
    background-color: var(--color-gray-100);
}

.card {
    color: var(--color-gray-50);
    font-size: 15px;
    padding: 10px 0;
    margin: 0 10px;
    font-weight: 300;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.card:hover {
    color: var(--color-gray-0);
}

.card.active {
    color: var(--color-gray-0);
    border-bottom: 1px solid var(--color-gray-0);
}

.page-heading {
    font-size: 42px;
    font-weight: 900;
    color: var(--color-gray-10);
    margin: 30px 0;
    flex-grow: 100;
    margin-right: 20px;
}

.page-heading-wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px;
    flex-wrap: wrap;
}

.page-heading-cta {
    flex-grow: 1;
    background-color: var(--color);
    padding: 10px 20px;
    cursor: pointer;
    color: var(--color-gray-100);
    text-align: center;
    font-size: 16px;
    border-radius: 100px;
}

.page-heading-cta:hover {
    background-color: var(--color-dark);
}