* {
  margin: 0;
  font-family: "Roboto";
  text-decoration: none;
}

body {
  background-color: var(--color-gray-100);
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content-wr {
  width: 100%;
  max-width: 1000px;
  position: relative;
  flex-grow: 1;
  min-height: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-75);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-90);
}

:root {
  --color-primary: #9F3A77;
  --color-secondary: #AB4335;

  --color-gray-10: #1A1819;
  --color-gray-25: #403D3E;
  --color-gray-50: #80797D;
  --color-gray-75: #BFB6BB;
  --color-gray-90: #E6DAE1;
  --color-gray-95: #F2E6ED;
  --color-gray-100: #FFF2FA;
}