.a-input {
    border: none;
    outline: none;
    resize: vertical;
    flex-shrink: 0;
    color: var(--color-gray-25);
    line-height: 1.5;
}

.a-input.title {
    margin-top: 20px;
    height: 45px;
}

.a-input.description {
    margin-top: 20px;
    height: 70px;
}

.a-input.subtitle {
    height: 35px;
    margin-top: 10px;
}

.a-input.text {
    height: 150px;
}

.a-image {
    margin: 10px auto;
    width: 100%;
}