.nav {
    height: 100%;
    width: 55px;
    border-right: 1px solid var(--color-gray-75);
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    position: absolute;
    align-items: center;
}

.logo {
    width: 25px;
    margin: 10px;
    cursor: pointer;
}

.link {
    width: calc(100% - 5px);
    height: 45px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 5px 0px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.link:last-child {
    margin-top: auto;
}

.link:hover {
    border: 1px solid var(--color-gray-95);
    border-right: 1px solid transparent;
}

.link.active {
    border: 1px solid var(--color-gray-90);
    border-right: 1px solid var(--color-gray-100);
}

.link img {
    height: 25px;
}

.main {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    overflow: auto;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .nav {
        flex-direction: row;
        height: 55px;
        width: unset;
        bottom: 10px;
        border: 1px solid transparent;
        box-shadow: 0px 0px 5px var(--color-gray-75);
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 10px;
    }

    .link {
        width: 45px;
        border-radius: 100%;
        margin: 5px;
    }

    .link:hover {
        border: 1px solid var(--color-gray-95);
    }
    
    .link.active {
        border: 1px solid var(--color-gray-90);
    }

    .logo {
        display: none;
    }

    .main {
        margin: 0;
    }
}