.wrapper {
    display: flex;
    height: 100%;
}

.nav {
    height: 100%;
    width: 80px;
    border-right: 1px solid var(--color-gray-90);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    width: 32px;
    margin: 10px;
    cursor: pointer;
}

.link {
    flex-shrink: 0;
    height: 60px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
}

.notIndicator {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--color);
    position: absolute;
    top: 20px;
    right: 15px;
}

.link img {
    height: 30px;
}

.main {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    max-width: 700px;
}

@media screen and (max-width: 800px) {

    .link:nth-child(4), .link:nth-child(6) {
        display: none;
    }

    .wrapper {
        flex-direction: column;
    }

    .nav {
        background-color: var(--color-gray-100);
        position: fixed;
        flex-direction: row;
        height: 55px;
        width: unset;
        bottom: 0px;
        border: 1px solid transparent;
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid var(--color-gray-90);
    }

    .logo {
        display: none;
    }

    .main {
        margin: 0;
        margin-bottom: 55px;
    }
}

@media screen and (min-width: 800px) {
    .link:nth-child(5) {
        border-bottom: 1px solid var(--color-gray-90);
        padding-bottom: 15px;
    }
    
    .link:nth-child(6) {
        padding-top: 15px;
    }
    
    .link:last-child {
        margin-top: auto;
    }
}