.menuIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content {
    margin: 0 10px;
    margin-top: 20px;
    border-bottom: 1px solid var(--color-gray-90);
    position: relative;
}

.heading {
    margin: 0px 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-gray-25);
    cursor: pointer;
    width: 100%;
}

.row {
    align-items: center;
    display: flex;
}

.info {
    margin: 10px;
    color: var(--color-gray-10);
    font-size: 14px;
    font-weight: 300;
    margin-right: auto;
}

.menu {
    background-color: var(--color-gray-100);
    position: absolute;
    right: 0px;
    top: calc(100% - 5px);
    border: 1px solid var(--color-gray-90);
    border-radius: 3px;
    z-index: 100;
}

.menuRow {
    padding: 5px 15px;
    font-weight: 300;
    cursor: pointer;
}

.menuRow:hover {
    background-color: var(--color-gray-90);
}