* {
  margin: 0;
  font-family: "Roboto";
  text-decoration: none;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content-wr {
  width: 100%;
  max-width: 900px;
  position: relative;
  flex-grow: 1;
  min-height: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-gray-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-75);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-90);
}

img text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --color-primary: #9F3A77;
  --color-secondary: #AB4335;

  --color-gray-0: #000000;
  --color-gray-10: #1A1A1A;
  --color-gray-25: #404040;
  --color-gray-50: #808080;
  --color-gray-75: #BFBFBF;
  --color-gray-90: #E6E6E6;
  --color-gray-100: #FFFFFF;
}