.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.wrapper {
    overflow: auto;
    height: 100%;
    position: relative;
}

.nav {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}

.navButton {
    font-size: 15px;
    color: var(--color-gray-100);
    border-radius: 50px;
    background-color: var(--color-primary);
    cursor: pointer;
    margin: 5px;
    transition: width 200ms;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navButton p {
    display: none;
}

.navButton:hover {
    width: 130px;
}

.navButton:hover p {
    display: block;
}

.navButton img {
    width: 30px;
}

.input {
    outline: none;
    border: none;
    resize: vertical;
    flex-shrink: 0;
    color: var(--color-gray-25);
    line-height: 1.5;
}

.title {
    border-bottom: 1px solid var(--color-gray-90);
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    height: 45px;
}

.subtitle {
    border-bottom: 1px solid var(--color-gray-90);
    margin-top: 20px;
    font-size: 18px;
    height: 70px;
    font-family: "Roboto Slab";
    font-weight: 300;
}

.addSection {
    background-color: var(--color-primary);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: var(--color-gray-100);
    border: 2px solid var(--color-primary);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: background-color 50ms;
    font-weight: 500;
}

.addSection:hover {
    background-color: unset;
    color: var(--color-primary);
}

.section {
    border-bottom: 1px solid var(--color-gray-90);
    margin-top: 20px;
    color: var(--color-gray-25);
    display: flex;
    flex-direction: column;
}

.textInput {
    font-size: 18px;
    height: 150px;
    font-family: "Roboto Slab";
    font-weight: 300;
}

.sectionTitle {
    border-bottom: 1px solid var(--color-gray-90);
    font-size: 23px;
    font-weight: 600;
    margin: 10px 0;
    height: 35px;
}

.row {
    align-items: center;
    display: flex;
}

.deleteSection {
    padding: 5px;
    border: 1px solid var(--color-gray-90);
    cursor: pointer;
    width: 22px;
    border-radius: 100%;
    margin-left: auto;
}

.deleteSection:hover {
    background-color: var(--color-gray-95);
}

.typeSelect {
    outline: none;
    border: 1px solid var(--color-gray-90);
    border-radius: 3px;
    color: var(--color-gray-10);
    font-size: 15px;
    padding: 3px;
    margin: 5px 0;
}

.typeSelect:hover {
    background-color: var(--color-gray-95);
}

.loading {
    font-size: 15px;
    color: var(--color-gray-10);
}

.sectionImg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.fileLabel {
    border: 1px solid var(--color-gray-90);
    padding: 4px;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 3px;
    color: var(--color-gray-10);
    font-size: 15px;
    margin: 0 5px;
}

.fileLabel:hover {
    background-color: var(--color-gray-95);
}